<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>




<div id="gitalk-container"></div>
<script>
    const gitalk = new Gitalk({
        clientID: '{{ site.comments.gittalk.clientID }}',
        clientSecret: '{{ site.comments.gittalk.clientSecret }}',
        repo: '{{ site.comments.gittalk.repository }}',
        owner: '{{ site.comments.gittalk.owner }}',
        admin: ['{{site.comments.gittalk.admin}}'],
        id: '{{ page.url}}'
    });
    gitalk.render('gitalk-container');

</script>